body {
	background-color: #232323;
}

.square {
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
}

#container {
	max-width: 600px;
	margin: 0 auto;
}

h1 {
	color: white;
}

span {
	color: white;
}